<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Modifier un livre
  </h1>

  <div>
    <%= link_to(
      "Voir ce livre",
      [namespace, page.resource],
      class: "button",
    ) if valid_action?(:show) && show_action?(:show, page.resource) %>
  </div>
  <div>
    <%= link_to(
      "Tous mes livres",
      admin_root_path,
      class: "button",
      style: "margin-left: 1rem"
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>

</header>

<section class="main-content__body">
  <%= render "form", page: page %>
</section>
