<div class="text-field">
  <%= form.label :email, "Email (exemple aa@bb.cc)" %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password, "Mot de passe" %>
  <%= form.password_field :password %>
</div>
