<div class="conditions">
<h1 class="c-terms-title">Conditions générales d’utilisation</h1>
<p>Dernière mise à jour le 28 décembre 2020</p>
<h2 class="c-terms-h2title">1. Informations légales</h2>
<p>
<strong>Editeur : La Chapelle en transition</strong>
</p><div>La Chapelle en transition</div>
<div>La chapelle en transition est un collectif qui s'intéresse à la transition écologique à La-Chapelle-sur-Erdre (44)</div>
<div>Contact sur la page facebook https://www.facebook.com/groups/263086484856229</div>
<p></p>
<p>
<strong>Hébergeur</strong>
</p>
<strong>Heroku</strong>
<div>Le site https://listelivre.herokuapp.com/ est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311). Le stockage des données personnelles des utilisateurs est exclusivement réalisé sur les centres de données ("clusters") de la société Amazon Inc, dont le siège social est situé 10 Terry Avenue North, Seattle, WA. Tous les clusters Amazon sur lesquels les données du Site sont stockées sont localisés dans des Etats membres de l'Union Européenne.</div>
<p></p>
<h2 class="c-terms-h2title">2. Objet du site internet</h2>
<p>Le site internet <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> a pour objet de permettre aux utilisateurs le prêt gracieux de livres autour du sujet de la transition écologique.</p>
<h2 class="c-terms-h2title">3. Données collectées</h2>
<p>Sont collectées pour permettre le fonctionnement du service les données suivantes :</p>
<ul>
<li>l'email</li>
</ul>
<p>La pertinence des résultats de recherche fournis par le service dépend de l’exactitude des renseignements donnés par l’utilisateur.</p>
<h2 class="c-terms-h2title">4. Cookies</h2>
<p><a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> utilise des cookies uniquement pour le bon fonctionnement du service. Aucun cookie relatif à la navigation n'est enregistré.</p>
<p>Les informations de session sont supprimées dès la déconnexion.</p>
<p>L’utilisateur peut s’opposer à l'enregistrement de cookies sur son ordinateur :</p>
<p>En paramètrant ses préférences en matière de cookies directement à cette page : <a target="_blank" href="https://listelivre.herokuapp.com/cookies/preference/edit" rel="noreferrer">https://listelivre.herokuapp.com/cookies/preference/edit</a> ou en configurant son poste informatique de la manière suivante :</p>
<ul>
<li><strong>Pour Microsoft Internet Explorer 6.0 et + </strong> : Choisir le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options"). Cliquer sur l'onglet "Confidentialité" (ou "Confidentiality"). Sélectionner le niveau souhaité à l'aide du curseur ou cliquer sur le bouton "Avancé" pour personnaliser la gestion des cookies.</li>
<li><strong>Pour Firefox 3.5 et + </strong> : Choisir le menu "Outils" (ou "Tools"), puis "Options". Cliquer sur l'onglet "Vie privée". Dans « Règles de conservation », sélectionner « Utiliser les paramètres personnalisés pour l’historique » et décocher le bouton "Accepter les cookies".</li>
<li><strong>Pour Chrome </strong> : Choisir le menu "Outils" (ou "Tools"), puis "Options". Cliquer sur l'onglet "Options avancées". Dans « Paramètres de contenu », cocher le bouton « Interdire à tous les sites de stocker les données ».</li>
<li><strong>Pour Netscape 6.X et 7.X </strong> : Choisir le menu "Edition" &gt; "Préférences". Confidentialité et Sécurité. Cookies</li>
<li><strong>Pour Opéra 6.0 et au-delà </strong> : Choisir le menu "Fichier" &gt; "Préférences". Vie Privée</li>
</ul>
<p>A défaut, l’utilisateur accepte les cookies en poursuivant sa navigation.</p>
<h2 class="c-terms-h2title">5. Responsabilité</h2>
<h3>5.1. Accessibilité au site et utilisation du service ListeLivre</h3>
<p>L'accès au site internet <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> se fait notamment à partir d'un ordinateur, d’un téléphone, d’un assistant personnel ou d’un terminal nomade connecté à un réseau de télécommunication selon les protocoles de communication utilisés sur le réseau Internet.</p>
<p>Le site internet <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> est accessible 24 h/7j, sauf cas de force majeure ou d’événement hors du contrôle d collectif.</p>
<p>Le collectif décline toute responsabilité :</p>
<ul>
<li>pour toute interruption du site pour raison de maintenance technique ou de mise à jour nécessaire au bon fonctionnement (du site internet).</li>
<li>pour survenance de bogues.</li>
</ul>
<p>Le collectif ne peut être tenu pour responsable vis-à-vis de l’utilisateur des dommages de toute nature, directs ou indirects.</p>
<h3>5.2. Résultats de recherche</h3>
<p>Le collectif décline toute responsabilité envers l’utilisateur concernant notamment :</p>
<ul>
<li>l’absence de résultat au regard des critères définis par l’utilisateur</li>
<li>la non-exhaustivité des résultats obtenus</li>
<li>la présence d’erreurs dans les résultats communiqués</li>
<li>le contenu et la disponibilité des sites tiers vers lesquels le site <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> renvoie.</li>
</ul>
<h3>5.3. Charte d'utilisation</h3>
<p>L'utilisateur s'engage à ne contacter un autre utilisateur que dans le seul et unique but d'un prêt gracieux d'un livre ou bien culturel lié à la transition écologique. Toute utilisation du service en dehors de ce cadre entraînera l'exclusion sans préavis de l'utilisateur.</p>
<h2 class="c-terms-h2title">6. Obligations de l’utilisateur</h2>
<p>L’utilisateur du site reconnaît avoir pris connaissance et accepter les présentes conditions d’utilisation avant toute utilisation du site.</p>
<p>L’utilisation du site internet <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> est soumise au respect par l’utilisateur de :</p>
<ul>
<li>la législation française,</li>
<li>les présentes conditions d’utilisation.</li>
</ul>
<p>Les présentes conditions d’utilisation peuvent être modifiées à tout moment ; la date de mise à jour est mentionnée. Ces modifications sont opposables à l’utilisateur dès leur mise en ligne sur le site internet <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a>. L’utilisateur est donc invité à consulter régulièrement la dernière version mise à jour.</p>
<h2 class="c-terms-h2title">7. Propriété intellectuelle</h2>
<p>Le site web <a target="_blank" href="https://listelivre.herokuapp.com" rel="noreferrer">listelivre.herokuapp.com</a> est protégé au titre des dispositions relatives au droit d’auteur défini aux articles L.111-1 et suivants du code de la propriété intellectuelle et au titre des dispositions relatives aux bases de données définies aux articles L.341-1 et suivants du même code. Le collectif est titulaire de l’ensemble des droits de propriété intellectuelle sur les éléments composant le site.</p>
<p>Sans préjudice des dispositions prévues à l’article L.122-5 du code de la propriété intellectuelle, toute représentation, reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans l'autorisation expresse et préalable du collectif constitue un acte de contrefaçon, sanctionné au titre des articles L.335-2 et L.335-3 du même code.</p>
<p>Par ailleurs, les marques Le collectif et ListeLivre sont protégées au titre des articles L.712-1 et suivants du code de la propriété intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de l’une de ces marques, sur quelque support que ce soit, sans l'autorisation expresse et préalable d collectif constitue un acte de contrefaçon, sanctionné au titre des articles L.716-1 du même code.</p>
<a class="c-terms-return" href="/">Retour</a>
</div>
</div>
